body{
    background: olivedrab;
    font-family: Arial, Helvetica, Sans-serif;
}

.assignment{
    display: flex;
    margin:10px;
    margin-bottom:30px;
    padding: 10px;
    background: khaki;
    border-radius:5px;
    box-shadow: 5px 8px gold;
}

.assignment img{
    width:200px;
    border: 2px solid #8C4D3F;
    border-radius:5px;
}

h1{
    color: gold;
    text-align:center;
}

a {
    text-decoration:none;
    color: #fff;
}

.assignment a:hover{
    color:rgb(180, 156, 19);
}